.btn {
    display: inline-block;
    vertical-align: top;
    font-size: rem(15);
    line-height: 1;
    border-radius: 5px;
    padding-top: rem(9);
    padding-bottom: rem(9);
    padding-left: rem(19);
    padding-right: rem(19);
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(-50deg, rgba(#00e5cb, 0.48) 0%, rgba(#0005fd, 0.48) 100%);
        background-color: $blue;
        transition: all ease-in-out 0.2s;
    }

    &:hover {
        color: $white;

        &::after {
            background-color: lighten($blue, 10);
        }
    }

    &:active {
        color: rgba($white, 0.4);
    }

    &:focus {
        box-shadow: none;
    }

    &--middleAlign {
        vertical-align: middle;
    }

    &__text {
        position: relative;
        z-index: 10;
        color: $white;
        font-weight: 700;
    }

    &--muted {
        &::after {
            background-image: none;
            background-color: $muted;
        }

        &:hover {
            &::after {
                background-image: none;
                background-color: $muted;
            }
        }
    }

    &--blue {
        background-color: $soft-blue;

        &:hover {
            background-color: lighten($soft-blue, 4);
        }

        &::after {
            display: none;
        }
    }

    &__icon {
        position: relative;
        z-index: 10;
        display: inline-block;
        vertical-align: top;
    }
}