.features {
    padding-left: rem(63);
    padding-right: rem(63);

    @media(max-width: $xxl-max-width) {
        padding-left: 0;
        padding-right: 0;
    }

    &__title {
        text-align: center;
        margin-bottom: rem(50);

        h2 {
            font-size: rem(32);
            line-height: rem(46);
            font-weight: 700;
            color: $black-text;
        }
    }

    &__promoText {
        text-align: center;
        padding-left: rem(220);
        padding-right: rem(220);
        margin-bottom: rem(75);

        @media(max-width: $xxl-max-width) {
            padding-left: rem(80);
            padding-right: rem(80);
        }

        @media(max-width: $md-max-width) {
            padding-left: 0;
            padding-right: 0;
        }

        p {
            color: $black-text;
            font-size: rem(18);
            line-height: rem(24);
        }
    }

    &__item {
        text-align: center;

        @media(max-width: $sm-max-width) {
            margin-bottom: rem(25);
        }
    }

    &__itemGraph {
        position: relative;
    }

    &__itemImg {
        background-repeat: no-repeat;
        background-position: center center;
        height: rem(275);

        &--1 {
            background-size: rem(275) rem(295);
            background-image: url(../img/feature-1.jpg);
        }

        &--2 {
            background-size: rem(292) rem(294);
            background-image: url(../img/feature-2.jpg);
        }

        &--3 {
            background-size: rem(248) rem(293);
            background-image: url(../img/feature-3.jpg);
        }
    }

    &__itemNumber {
        color: $green-dark;
        font-weight: 900;
        font-size: rem(90);
        position: absolute;
        top: 0;
        line-height: 1;
        left: rem(-10);
    }

    &__itemBadge {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__itemBadgeText {
        position: relative;
        bottom: rem(-170);
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        color: $white;
        font-size: rem(21);
        line-height: rem(30);
        background-color: $green-dark;
        border-radius: 4px;
        padding-left: rem(14);
        padding-right: rem(14);
        white-space: nowrap;
    }

    &__itemDescr {
        p {
            color: $text;
            font-size: rem(18);
            line-height: rem(24);
        }
    }
}