.icon {
    transition: fill 0.2s ease;

    &--githubFill {
        width: 22px;
        height: 28px;
        fill: $white;
    }

    &--githubFillBlack {
        fill: $black;
    }

    &--windows {
        fill: $white;
        width: 16px;
        height: 16px;

        &Lg {
            width: 60px;
            height: 71px;
        }
    }

    &--apple {
        fill: $white;
        width: 14px;
        height: 18px;

        &Lg {
            width: 60px;
            height: 71px;
        }
    }

    &--linux {
        fill: $white;
        width: 16px;

        &Lg {
            width: 60px;
            height: 71px;
        }
    }

    &--googleplay {
        fill: $white;
        width: 16px;
        height: 17px;

        &Lg {
            width: 60px;
            height: 71px;
        }
    }

    &--externalLink {
        fill: $white;
        width: 16px;
    }

    &--reddit {
        width: 24px;
    }

    &--twitter {
        width: 22px;
    }

    &--facebook {
        width: 12px;
    }

    &--telegram {
        width: 24px;
    }

    &--discord {
        width: 25px;
    }

    &--github {
        width: 24px;
    }

    &--black {
        fill: $black;
    }
}