.pageFooter {
    padding-bottom: rem(50);

    .w-100-md {
        display: none;
        @media(max-width: $md-max-width) {
            display: block;
            width: 100%;
        }
    }

    .w-100-xs {
        display: none;
        @media(max-width: $xs-max-width) {
            display: block;
            width: 100%;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: rem(80);

        @media(max-width: $xl-max-width) {
            justify-content: space-around;
            margin-bottom: rem(60);
        }

        @media(max-width: $sm-max-width) {
            justify-content: space-around;
            margin-bottom: rem(20);
        }

        @media(max-width: $xs-max-width) {
            justify-content: space-around;
        }
    }

    &__navTitle {
        color: $green-dark;
        font-size: rem(15);
        line-height: 1;
        font-weight: 700;
        display: inline-block;
        vertical-align: top;
        margin-bottom: rem(16);
    }

    &__navList {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__navItemWrap {

        &--correctedItem {
            display: none;

            @media(max-width: $md-max-width) {
                display: block;
            }
        }

        @media(max-width: $md-max-width) {
            flex-basis: calc(100% / 4);
            margin-bottom: rem(15);
        }

        @media(max-width: $xs-max-width) {
            flex-basis: calc(100% / 2);
            margin-bottom: rem(15);
        }
    }

    &__navItem {
        margin-bottom: rem(3);
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__navLink {
        color: rgba($green-dark, 0.3);
        font-size: rem(15);
        line-height: 1;
        transition: color 0.2s ease;
    }

    &__rights {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media(max-width: $sm-max-width) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__logoImg {
        display: inline-block;
        vertical-align: top;
        width: 113px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 113px 30px;
        background-image: url(../../assets/img/logo-black.png);
        margin-right: rem(30);

        @media(max-width: $sm-max-width) {
            margin-right: 0;
            display: block;
        }
    }

    &__copyText {
        text-transform: uppercase;
        color: $green-dark;
        font-size: 15px;
        line-height: 33px;
        vertical-align: middle;

        @media(max-width: $md-max-width) {
            font-size: 13px;
        }

        @media(max-width: $sm-max-width) {
            display: inline-block;
            vertical-align: top;
            margin-bottom: rem(15);
        }
    }

    &__devsLogo {
        width: 219px;
        height: 26px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 219px 26px;
        background-image: url(../img/mdtc-develop.png);
    }
}