.pageHeader {
    height: 933px;
    position: relative;
    overflow: hidden;
    margin-bottom: rem(60);

    @media(max-width: $md-max-width) {
        height: 733px;
    }

    @media(max-width: $xs-max-width) {
        height: 633px;
    }

    &__introWrap {
        opacity: 0;
        padding-top: rem(380);
        padding-bottom: 78px;
        height: 100%;
        position: relative;
        z-index: 20;
        background-color: rgba(#181822, 0.8);
        background-image: linear-gradient(140deg, rgba(#00e5cb, 0.23) 0%, rgba(#0005fd, 0.23) 100%);

        &.show {
            transition: opacity 0.6s ease;
            opacity: 1;
        }

        @media(max-width: $md-max-width) {
            padding-top: rem(250);
        }

        @media(max-width: $sm-max-width) {
            padding-top: rem(300);
        }

        @media(max-width: $xs-max-width) {
            padding-top: rem(240);
        }
    }

    &__intro {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: $white;
        justify-content: center;
        padding-left: rem(50);

        @media(max-width: $xl-max-width) {
            padding-left: rem(0);
        }

        @media(max-width: $md-max-width) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__mainText {
        text-align: right;
        margin-right: rem(95);

        @media(max-width: $xl-max-width) {
            margin-right: rem(45);
        }

        @media(max-width: $md-max-width) {
            text-align: center;
            width: 65%;
            margin-bottom: rem(20);
            margin-right: 0;

            br {
                display: none;
            }
        }

        @media(max-width: $sm-max-width) {
            width: 100%;
        }

        p {
            color: $white;
            font-size: rem(50);
            line-height: rem(51);
            font-weight: 700;

            @media(max-width: $sm-max-width) {
                font-size: rem(40);
                line-height: rem(41);
            }

            @media(max-width: $xs-max-width) {
                font-size: rem(35);
                line-height: rem(36);
            }
        }
    }

    &__subText {
        align-self: center;

        @media(max-width: $md-max-width) {
            text-align: center;
        }

        p {
            color: rgba($white, 0.75);
            font-size: rem(29);
            line-height: rem(46);
            font-weight: 400;

            @media(max-width: $sm-max-width) {
                font-size: rem(27);
                line-height: rem(42);
            }

            @media(max-width: $xs-max-width) {
                font-size: rem(25);
                line-height: rem(40);
            }
        }
    }

    &__ocean {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30;
    }

    &__oceanWave {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 150px;

        &--white {
            z-index: 20;
        }
    }

    &__videoWrap {
        position: absolute;
        width: calc(100% + 800px);
        height: calc(100% + 800px);
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-repeat: no-repeat;
        background-color: #13131b;

        &.mobile {
            background-image: url(../img/mobile-bg-video.jpg);
            background-position: center center;
            background-size: cover;
        }
    }

    &__topVideoGradient {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 300px;
        display: inline-block;
        vertical-align: top;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -30px;
            z-index: 999;
            left: 0;
            right: 0;
            height: 200px;
            background-image: linear-gradient(to bottom, #13131b 0%, #13131b 25%, transparent 100%);
        }
    }

    &__sidesVideoGradient {
        position: relative;
        z-index: 80;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -10px;
            width: 300px;
            bottom: 0;
            top: -300px;
            background-image: linear-gradient(to right, #13131b 0%, #13131b 25%, transparent 100%);
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: -10px;
            width: 300px;
            bottom: 0;
            top: -300px;
            background-image: linear-gradient(to left, #13131b 0%, #13131b 25%, transparent 100%);
        }
    }

    &__video {
        display: block;
        // min-width: 100%;
        // min-height: 100%;
        width: auto;
        height: auto;
    }
}

#gradient-wave {
    fill: url(#grad) !important;
}