.partition {
    margin-bottom: rem(100);

    @media(max-width: $md-max-width) {
        margin-bottom: rem(60);
    }

    &__wrap {
        padding-left: rem(63);
        padding-right: rem(63);

        @media(max-width: $sm-max-width) {
            padding-left: 0;
            padding-right: 0;
            // padding-left: rem(30);
            // padding-right: rem(30);
        }

        // @media(max-width: $xs-max-width) {
        //     padding-left: rem(20);
        //     padding-right: rem(20);
        // }

        &--filled {
            border-radius: 20px;
            padding-top: rem(55);
            padding-bottom: rem(63);

            @media(max-width: $sm-max-width) {
                padding-top: rem(30);
                padding-bottom: rem(30);
            }

            @media(max-width: $sm-max-width) {
                padding-top: rem(20);
                padding-bottom: rem(20);
            }
        }

        &--gray {
            background-color: $gray;
        }
    }

    &__title {
        margin-bottom: rem(35);
        position: relative;

        @media(max-width: $sm-max-width) {
            padding-left: rem(30);
        }

        &--marked {
            &::before {
                content: '';
                position: absolute;
                display: block;
                height: rem(32);
                top: rem(3);
                left: rem(-63);
                width: 9px;
                background-color: $white;
                border-radius: 4px;
                background-image: linear-gradient(114deg, #00e5cb 0%, #0005fd 100%);

                @media(max-width: $sm-max-width) {
                    left: 0;
                }
            }
        }

        h2 {
            font-size: rem(32);
            line-height: rem(44);
            font-weight: 700;
            color: $black-text;
        }
    }

    &__subtitle {
        color: $black-text;
        font-size: rem(18);
        line-height: rem(24);
        font-weight: 700;
    }
}