.roadmap {

    &__text {
        margin-bottom: rem(65);
    }

    &__graph {
        position: relative;
        padding-top: rem(60);
        padding-bottom: rem(40);
        margin-bottom: rem(56);
    }

    &__graphBar {
        height: rem(17);
        width: 100%;
        background-color: #f7f6f8;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        margin-bottom: rem(13);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__graphProgress {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 5px;

        &--1 {
            background-color: #1dc3a7;
            left: 1%;
        }

        &--2 {
            background-color: #f3cb0b;
            left: 6%;
        }

        &--3 {
            background-color: #486f97;
            left: 13%;
        }

        &--4 {
            background-color: #3da2e0;
            left: 19%;
        }

        &--5 {
            background-color: #ea8926;
            left: 25%;
        }

        &--6 {
            background-color: #b8bcc1;
            left: 34%;
        }

        &--7 {
            background-color: #7c9797;
            left: 42%;
        }

        &--8 {
            background-color: #f6a613;
            left: 56%;
        }

        &--9 {
            background-color: #f6ff00;
            left: 69%;
        }
    }

    &__graphPoints {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__graphPoint {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4px;
        background-image: linear-gradient(to top, #00e5cb 0%, #0005fd 100%);
        border-radius: 20px;

        &--1 {
            left: 0;
        }

        &--2 {
            left: 25%;
        }

        &--3 {
            left: 50%;
        }

        &--4 {
            left: 75%;
        }
    }

    &__pointText {
        position: absolute;
        text-transform: uppercase;
        left: 16px;
        display: block;
        width: 100px;
        font-size: rem(18);
        line-height: 1;

        @media(max-width: $xs-max-width) {
            top: -20px;
            left: 0;
            font-size: rem(15);
        }
    }

    &__graphDescrItem {
        display: inline-block;
        vertical-align: top;
        font-weight: 700;
        font-size: rem(18);
        line-height: rem(24);
        white-space: nowrap;
        margin-right: rem(32);
        margin-bottom: rem(20);

        @media(max-width: $xs-max-width) {
            white-space: initial;
        }
    }

    &__graphDescrDot {
        display: inline-block;
        vertical-align: text-top;
        position: relative;
        top: 2px;
        border-radius: 50%;
        width: rem(17);
        height: rem(17);

        &--1 {
            background-color: #1dc3a7;
        }

        &--2 {
            background-color: #f3cb0b;
        }

        &--3 {
            background-color: #486f97;
        }

        &--4 {
            background-color: #3da2e0;
        }

        &--5 {
            background-color: #ea8926;
        }

        &--6 {
            background-color: #b8bcc1;
        }

        &--7 {
            background-color: #7c9797;
        }

        &--8 {
            background-color: #f6a613;
        }

        &--9 {
            background-color: #f6ff00;
        }
    }
}