.specification {
    &__text {
        margin-bottom: rem(48);
    }

    &__data {
        margin-bottom: rem(52);
    }

    &__dataItem {
        font-size: rem(24);
        line-height: rem(30);
        margin-bottom: rem(10);

        sup {
            text-transform: uppercase;
            font-size: rem(14);
            line-height: 1;
        }
    }

    &__descrItem {
        margin-bottom: rem(30);
    }

    &__descrTitle {
        margin-bottom: rem(21);
        display: inline-block;
        vertical-align: top;
    }

    &__descrTable {
        margin-bottom: 0;
        tr {
            td {
                &:first-child {
                    font-style: italic;
                    width: 36%;
                    padding-left: 0;
                }
            }
        }
    }

    &__downloads {
        padding-left: rem(40);

        @media(max-width: $md-max-width) {
            padding-left: 0;
        }
    }

    &__downloadText {
        margin-bottom: rem(27);
    }

    &__downloadSubtitle {
        display: inline-block;
        vertical-align: top;
        margin-bottom: rem(10);
    }

    &__downloadItems {
        @media(max-width: $sm-max-width) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        // @media(max-width: $xs-max-width) {
        //     flex-direction: column;
        // }
    }

    &__downloadItemDescr {
        margin-bottom: rem(30);

        @media(max-width: $sm-max-width) {
            flex-basis: 48%;
        }
    }

    &__downloadTitle {
        display: inline-block;
        vertical-align: top;
        margin-bottom: rem(14);
    }

    &__download {
        vertical-align: middle;
        white-space: nowrap;
    }

    &__downloadBtn {
        margin-right: rem(20);
        padding-right: rem(42);
        position: relative;

        @media(max-width: $md-max-width) {
            margin-right: rem(10);
        }

        &--padbtn {
            padding-right: rem(19);
        }
    }

    &__downloadBtnIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem(15);
    }

    &__downloadTitle {
        color: $text;
        font-size: rem(16);
        line-height: rem(24);
    }

    &__downloadInf {
        position: relative;
        bottom: -1px;
        font-size: rem(16);
        line-height: 1;
        white-space: nowrap;

        @media(max-width: $sm-max-width) {
            margin-top: rem(10);
            display: block;
        }
    }

    &__downloadBtn {
        vertical-align: middle;
    }
}