.wallet {
    margin-bottom: rem(200);

    @media(max-width: $md-max-width) {
        margin-bottom: 0;
    }

    &__descrText {
        margin-bottom: rem(44);
    }

    &__item {
        margin-bottom: rem(38);
    }

    &__itemTitle {
        display: inline-block;
        vertical-align: top;
        margin-bottom: rem(20);
        white-space: nowrap;
    }

    &__btn {
        position: relative;
        &--iconed {
            padding-right: rem(40);
        }
    }

    &__btnIcon {
        position: absolute;
        top: calc(50% - 1px);
        right: rem(13);
        transform: translateY(-50%);
    }

    &__disclaimer {
        margin-top: rem(10);
    }

    &__webuiWrap {
        position: relative;
    }

    &__webuiImg {
        position: absolute;
        top: rem(-40);
        left: 0;
        width: rem(1240);
        height: rem(778);
        // background-repeat: no-repeat;
        // background-position: center center;
        // background-size: rem(1240) rem(779);
        // background-image: url(../img/web-ui.jpg);

        @media(max-width: $md-max-width) {
            position: relative;
            top: 0;
            left: calc(50% - 20px);
            transform: translateX(-50%);
            width: calc(100% + 100px);
            height: auto;
        }
    }
}