<section class="contacts partition">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="contacts__title partition__title">
                    <h2>Get Involved</h2>
                </div>
                <div class="contacts__subText">
                    <span>Join the worldwide ERA community</span>
                </div>
                <div class="contacts__items">
                    <a href="#" class="contacts__item">
                        <svg class="contacts__itemIcon icon icon--reddit">
                            <use xlink:href="../../assets/img/sprite-svg.svg#icon-reddit"></use>
                        </svg>
                        Reddit
                    </a>
                    <a href="#" class="contacts__item">
                        <svg class="contacts__itemIcon icon icon--twitter">
                            <use xlink:href="../../assets/img/sprite-svg.svg#icon-twitter"></use>
                        </svg>
                        Twitter
                    </a>
                    <a href="#" class="contacts__item">
                        <svg class="contacts__itemIcon icon icon--facebook">
                            <use xlink:href="../../assets/img/sprite-svg.svg#icon-facebook"></use>
                        </svg>
                        Facebook
                    </a>
                    <a href="#" class="contacts__item">
                        <svg class="contacts__itemIcon icon icon--telegram">
                            <use xlink:href="../../assets/img/sprite-svg.svg#icon-telegram"></use>
                        </svg>
                        Telegram
                    </a>
                    <a href="#" class="contacts__item">
                        <svg class="contacts__itemIcon icon icon--discord">
                            <use xlink:href="../../assets/img/sprite-svg.svg#icon-discord"></use>
                        </svg>
                        Discord
                    </a>
                    <a href="#" class="contacts__item">
                        <svg class="contacts__itemIcon icon icon--github">
                            <use xlink:href="../../assets/img/sprite-svg.svg#icon-github"></use>
                        </svg>
                        Github
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>