<nav class="globalNav">
    <div class="container-fluid">
        <ul class="globalNav__root">
            <li class="globalNav__logo">
                <a class="globalNav__logoLink" href="#">
                    <div class="globalNav__logoImg">
                        <span></span>
                    </div>
                    <div class="globalNav__logoPromo">
                        The digital crypto asset
                    </div>
                </a>
            </li>
            <li class="globalNav__menu menu">
                <div class="menu__mainNav">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__linkText">Apps / Node</span>
                            </a>
                        </li>
                        <li class="menu__item" >
                            <a href="#" class="menu__link">
                                <span class="menu__linkText">Solutions</span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__linkText">Use Cases</span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__linkText">ERA</span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__linkText">Resources</span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__linkText">Docs</span>
                                <span class="menu__linkBadge badge">Soon</span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__linkText">About</span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">
                                <span class="menu__linkText">GitHub</span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link menu__link btn">
                                <span class="menu__linkText">Open Wallet</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="globalNav__mobileMenu mobileMenu">
                <a href="#" class="mobileMenu__hamburger">
                    <span>Menu</span>
                </a>
                <div class="mobileMenu__popup">
                    <div class="mobileMenu__popupContainer">
                        <div class="mobileMenu__popupContent">
                            <a href="#" class="mobileMenu__cross">
                                <span>Close</span>
                            </a>
                            <div class="mobileMenu__head">
                                <span class="mobileMenu__headTitle">Menu</span>
                            </div>
                            <div class="mobileMenu__nav">
                                <ul class="mobileMenu__navList">
                                    <li class="mobileMenu__navItem">
                                        <a href="#" class="mobileMenu__navLink">
                                            Medusa
                                        </a>
                                    </li>
                                    <li class="mobileMenu__navItem">
                                        <a href="#" class="mobileMenu__navLink">
                                            Exchange
                                        </a>
                                    </li>
                                    <li class="mobileMenu__navItem">
                                        <a href="#" class="mobileMenu__navLink">
                                            Coin
                                        </a>
                                    </li>
                                    <li class="mobileMenu__navItem">
                                        <a href="#" class="mobileMenu__navLink">
                                            ICO
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mobileMenu__bottom">
                            <a href="#" class="mobileMenu__bottomLink">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="menuDropdown__root">
        <div class="menuDropdown__background">
            <div class="menuDropdown__alternateBackground"></div>
        </div>
        <div class="menuDropdown__arrow"></div>
        <div class="menuDropdown__container">
            <div class="menuDropdown__section" data-dropdown="medusa">
                <div class="menuDropdown__content" style="width: 350px; height: 245px;">
                    <div class="menuDropdown__linkets">
                        <ul class="menuDropdown__list">
                            <li class="menuDropdown__item menuDropdown__item--setName">Get Started</li>
                            <li class="menuDropdown__item">
                                <a href="#" class="menuDropdown__link">
                                    Elements
                                </a>
                            </li>
                            <li class="menuDropdown__item">
                                <a href="#" class="menuDropdown__link">
                                    Checkout
                                </a>
                            </li>
                            <li class="menuDropdown__item">
                                <a href="#" class="menuDropdown__link">
                                    Mobile apps
                                </a>
                            </li>
                            <li class="menuDropdown__item">
                                <a href="#" class="menuDropdown__link">
                                    Libraries
                                </a>
                            </li>
                        </ul>
                        <ul class="menuDropdown__list">
                            <li class="menuDropdown__item menuDropdown__item--setName">Popular Topics</li>
                            <li class="menuDropdown__item">
                                <a href="#" class="menuDropdown__link">
                                    Apple Pay
                                </a>
                            </li>
                            <li class="menuDropdown__item">
                                <a href="#" class="menuDropdown__link">
                                    Testing
                                </a>
                            </li>
                            <li class="menuDropdown__item">
                                <a href="#" class="menuDropdown__link">
                                    Launch checklist
                                </a>
                            </li>
                            <li class="menuDropdown__item">
                                <a href="#" class="menuDropdown__link">
                                    Plug-ins
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menuDropdown__bottom">
                        <a href="#" class="menuDropdown__bottomLink">About us</a>
                    </div>
                </div>
            </div>
            <div class="menuDropdown__section" data-dropdown="exchange">
                <div class="menuDropdown__content" style="width: 368px; height: 280px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum possimus voluptate quidem quaerat molestias facere ullam aspernatur doloremque! Accusantium.</p>
                </div>
            </div>
            <div class="menuDropdown__section" data-dropdown="coin">
                <div class="menuDropdown__content" style="width: 422px; height: 346px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus possimus, quod sapiente accusantium quos tempora repudiandae laborum iure vero temporibus.</p>
                </div>
            </div>
            <div class="menuDropdown__section" data-dropdown="ico">
                <div class="menuDropdown__content" style="width: 422px; height: 346px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus possimus, quod sapiente accusantium quos tempora repudiandae laborum iure vero temporibus.</p>
                </div>
            </div>
        </div>
    </div>
</nav>