<footer class="pageFooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="pageFooter__nav">
                    <div class="pageFooter__navItemWrap">
                        <a href="#" class="pageFooter__navTitle">Apps / Node</a>
                        <ul class="pageFooter__navList">
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navTitle">Wallet</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pageFooter__navItemWrap">
                        <a href="#" class="pageFooter__navTitle">Solutions</a>
                        <ul class="pageFooter__navList">
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Payments</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Staking</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-100-xs"></div>
                    <div class="pageFooter__navItemWrap">
                        <a href="#" class="pageFooter__navTitle">Use Cases</a>
                        <ul class="pageFooter__navList">
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Payment Provider</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Digital Assets Exchanges</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Corporates</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pageFooter__navItemWrap">
                        <a href="#" class="pageFooter__navTitle">ERA</a>
                        <ul class="pageFooter__navList">
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Overview</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Whitepaper</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Market Perfomance</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Buy ERA</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Block Explorer</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-100-md"></div>
                    <div class="pageFooter__navItemWrap">
                        <a href="#" class="pageFooter__navTitle">Resources</a>
                        <ul class="pageFooter__navList">
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Insights</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Press Center</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pageFooter__navItemWrap">
                        <a href="#" class="pageFooter__navTitle">Docs</a>
                        <ul class="pageFooter__navList">
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">FAQ</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">API Documentation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-100-xs"></div>
                    <div class="pageFooter__navItemWrap">
                        <a href="#" class="pageFooter__navTitle">About</a>
                        <ul class="pageFooter__navList">
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Our Team</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Careers</a>
                            </li>
                            <li class="pageFooter__navItem">
                                <a href="#" class="pageFooter__navLink">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pageFooter__navItemWrap pageFooter__navItemWrap--correctedItem"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pageFooter__rights">
                    <div class="pageFooter__copy">
                        <div class="pageFooter__logoImg"></div>
                        <span class="pageFooter__copyText">
                            &copy; 2018 ERA Network
                        </span>
                    </div>
                    <div class="pageFooter__devs">
                        <div class="pageFooter__devsLogo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>